/.vs/snakeMDP/v15/.suo
/.vs/snakeMDP/v15/Browse.VC.db
/.vs/snakeMDP/v15/Browse.VC.opendb
/.vs/snakeMDP/v15/ipch/AutoPCH/12ac1dfc96e61d01/ABSTRACTMDP.ipch
/.vs/snakeMDP/v15/ipch/AutoPCH/19e8263aa73b519e/MDPMODEL.ipch
/.vs/snakeMDP/v15/ipch/AutoPCH/1ff791574f580c97/POLICYITERATION.ipch
/.vs/snakeMDP/v15/ipch/AutoPCH/b39cfe466e2dd103/MAIN.ipch
/.vs/snakeMDP/v15/ipch/AutoPCH/bc4fa6a2e056bd1b/SNAKEMDP.ipch
/.vs/snakeMDP/v15/ipch/AutoPCH/dd8235a60414e052/PAIR.ipch
/.vs/snakeMDP/v15/ipch/AutoPCH/e65ac2e9325180cc/POINT.ipch
/.vs/snakeMDP/v15/ipch/AutoPCH/e8134999a299182c/VALUEITERATION.ipch
/snakeMDP.sln
/snakeMDP/snakeMDP.qrc
/snakeMDP/snakeMDP.ui
/snakeMDP/snakeMDP.vcxproj
/snakeMDP/snakeMDP.vcxproj.filters
/snakeMDP/snakeMDP.vcxproj.user
/snakeMDP/x64/Debug/AbstractMDP.obj
/snakeMDP/x64/Debug/main.obj
/snakeMDP/x64/Debug/MDPmodel.obj
/snakeMDP/x64/Debug/moc/moc_snakeMDP.cpp
/snakeMDP/x64/Debug/moc_snakeMDP.obj
/snakeMDP/x64/Debug/Pair.obj
/snakeMDP/x64/Debug/Point.obj
/snakeMDP/x64/Debug/PolicyIteration.obj
/snakeMDP/x64/Debug/qmake/qtvars_ivre3k3a.ica.designtime.props
/snakeMDP/x64/Debug/qmake/qtvars_x64_Debug.designtime.idx
/snakeMDP/x64/Debug/qmake/qtvars_x64_Debug.props
/snakeMDP/x64/Debug/qrc_snakeMDP.obj
/snakeMDP/x64/Debug/qt_work.log
/snakeMDP/x64/Debug/rcc/qrc_snakeMDP.cpp
/snakeMDP/x64/Debug/snakeMDP.Build.CppClean.log
/snakeMDP/x64/Debug/snakeMDP.log
/snakeMDP/x64/Debug/snakeMDP.obj
/snakeMDP/x64/Debug/snakeMDP.tlog/CL.16840.write.1.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/CL.command.1.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/CL.read.1.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/link.command.1.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/link.read.1.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/link.write.1.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/moc.read.1u.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/moc.write.1u.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/rcc.read.1u.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/rcc.write.1u.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/snakeMDP.lastbuildstate
/snakeMDP/x64/Debug/snakeMDP.tlog/snakeMDP.write.1u.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/uic.read.1u.tlog
/snakeMDP/x64/Debug/snakeMDP.tlog/uic.write.1u.tlog
/snakeMDP/x64/Debug/uic/ui_snakeMDP.h
/snakeMDP/x64/Debug/ValueIteration.obj
/snakeMDP/x64/Debug/vc141.pdb
/snakeMDP/x64/Release/qmake/qtvars_bueoblcj.vkm.designtime.props
/snakeMDP/x64/Release/qmake/qtvars_x64_Release.designtime.idx
/snakeMDP/x64/Release/qmake/qtvars_x64_Release.props
/x64/Debug/snakeMDP.exe
/x64/Debug/snakeMDP.ilk
/x64/Debug/snakeMDP.pdb
/snakeMDP/x64/Debug/snakeMDP.tlog/CL.10652.write.1.tlog
